<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Xer</title> <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='xer.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <nav class="main-nav">
  <ul>

      <li><a href="{{ url_for('upload') }}">上传舆情样本数据</a></li>


  </ul>
</nav>
    <div id="loading-overlay">
        <div class="spinner"></div>
</div>
<script>
window.onload = function () {
    hideLoadingOverlay();
};

function hideLoadingOverlay() {
    const loadingOverlay = document.getElementById("loading-overlay");
    loadingOverlay.style.display = "none";
}
</script>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
